# Build results (leading '/' to only match top-level 'out'-directory)
/out/

# User-specific build configurations (e.g. library installation paths)
CMakeUserPresets.json

# Binary version of resource script file from the resource compiler
*.aps

# Visual Studio files
.vs/
.vscode/
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace

# JetBrains / IntelliJ files
.idea/
